HEADLESS_GHIDRA_PATH='C:\Users\Hp\Documents\ghidra_12.0.4_PUBLIC\support'
GHIDRA_PROJECT_PATH='C:\ghidra-projects'
GHIDRA_SCRIPTS_PATH='C:\Users\Hp\Documents\Reversio\resources\ghidra_scripts'
OLLAMA_HOST="http://localhost:11434"
QDRANT_HOST="http://localhost:6333/"
GROQ_API_KEY=gsk_your_api_key_here
